@use "../utilities/" as *;

.card {
  width: rem(920);
  height: rem(509);
  border-radius: rem(22);
  background-color: white;

  @include flex-direction(row);

  &-accordion {
    width: 50%;
    padding: 43px 95px 43px 17px;
    font-size: 12px;
    font-family: $Kumbh-sans;

    & > h1 {
      padding: 28px 0px 28px 0px;
    }

    &-btn {
      font-family: $Kumbh-sans;
      width: 100%;
      padding: 20px 0px 20px 0px;
      background-color: white;
      border: none;
      text-align: start;
      display: flex;
      cursor: pointer;

      &:hover {
        color: $Soft-red;
      }
    }

    &-panel {
      padding-bottom: 20px;
      display: none;
    }

    & > hr {
      color: $Light-grayish-blue;
    }
  }

  &-image {
    background: no-repeat url("../../../images/bg-pattern-desktop.svg");
    background-position: 115% 70%;
    position: relative;

    &-women {
      overflow: hidden;
      height: 100%;

      & > img {
        transform: translate(-15%, 20%);
      }
    }

    &-box {
      z-index: 3;
      position: absolute;
      top: 40%;
      left: -20%;
    }
  }
}

.active {
  display: block;
}

.active-btn{
  font-weight: 700;

  & > span {
    transform: rotate(180deg);
    transition: transform .2s ease-in-out;  
  }
}

.arrow {
  margin-left: auto;
}
